body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  cursor:pointer
}
.sticky{
  position: sticky; 
  top:55px;
}
.logoColor{
  color:#36ac9c;
}
.logoColor.f-1{
  text-decoration: none;
  font-size: 20px;
  padding: 0 5px
}